{{#unless appData.image}}
    {{css "css/default.css"}}
    <div style="height: 64px; width: 64px" class="default-app-image app-image"></div>
{{else}}
    <img src="{{public "img/" appData.image}}" title="image of {{appData.name}}" class="app-image">
{{/unless~}}
